backcall==0.2.0
certifi==2020.12.5
decorator==4.4.2
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.0
networkx==2.5
numpy==1.19.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.10
protobuf==3.14.0
ptyprocess==0.7.0
Pygments==2.7.4
PyYAML==5.4
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.56.0
traitlets==5.0.5
typing-extensions==3.7.4.3
wcwidth==0.2.5

